---
BasedOnStyle: LLVM
BreakBeforeBraces: Attach
PointerAlignment: Middle
NamespaceIndentation: All
FixNamespaceComments: false
BinPackLongBracedList: true
PackParameters:
    BinPack: BinPack
PackArguments:
    BinPack: BinPack
IndentPPDirectives: BeforeHash
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AlignArrayOfStructures: None
InsertNewlineAtEOF: true
ColumnLimit: 0
UseTab: Never
IndentWidth: 4
PPIndentWidth: 4
TabWidth: 4
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
AccessModifierOffset: -4